@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;600&display=swap');


:root {
  --background: #262323;
  --foreground: #ede4e4;
  --green: #87af7b;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--foreground);
  background: var(--background);
}
