@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #141313;
  --green: #87af7b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --green: #87af7b;
  }
}
font-face {
  font-family: "Vazir";
  src: url("/public/font/Vazir.woff2") format("woff2"),
    url("/public/font/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  color: var(--foreground);
  background: var(--background);
  direction: rtl;
  text-align: right;
}
